<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>upload / 檔案上傳</title>

    <link rel='preconnect' href='//code.jquery.com' />
    <link rel='preconnect' href='//cdnjs.cloudflare.com' />
    <link rel='preconnect' href='//cdn.jsdelivr.net' />
    <link rel='preconnect' href='//unpkg.com' />

    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />

    <!-- init logrocket -->
    <script src="https://cdn.lr-ingest.com/LogRocket.min.js" crossorigin="anonymous"></script>

    <!-- Font Awesome Icons -->
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css'
    />
    <!-- Google Fonts  -->
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Lato&display=swap'
      rel='stylesheet'
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap'
      rel='stylesheet'
    />

    {{! clipboard js }}
    <script
      src='https://cdn.jsdelivr.net/npm/clipboard@2.0.10/dist/clipboard.min.js'
    ></script>

    <!-- toastr v2.1.4 -->
    <!-- jQuery v1.9.1 -->
    <script src='https://code.jquery.com/jquery-1.9.1.min.js'></script>
    <link
      href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css'
      rel='stylesheet'
    />
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js'
    ></script>
    <!-- toastr v2.1.4 -->

    <!-- sweetalert2 -->
    <!-- <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <script
      src='//cdn.jsdelivr.net/npm/sweetalert2@11.6.16/dist/sweetalert2.all.min.js'
    ></script>
    <!-- <link rel="stylesheet" href="sweetalert2.min.css"> -->
    <link
      rel='stylesheet'
      href='//cdn.jsdelivr.net/npm/sweetalert2@11.6.16/dist/sweetalert2.min.css'
    />
    <!-- sweetalert2 -->

    <script
      type='text/javascript'
      src='https://unpkg.com/qr-code-styling@1.5.0/lib/qr-code-styling.js'
    ></script>


    <link rel='stylesheet' href='variable.css' />
    <link rel='stylesheet' href='styles.css' />
    <link rel='stylesheet' href='upload.css' />

    <script src='./lang.js'></script>
  </head>

  <body>

    <div class='page'>

      {{{body}}}

      <div class='page-footer-container' style="display: flex; flex-direction: row; justify-content: center;">
        <div class='page-footer'
          style="text-align: center; ">
          © 2023
          <a href='//louiscklaw.github.io'>louis portfolio</a>
        </div>

        <div style="display: none;">
          <pre>id:{{_uploadid}}</pre>
        </div>

        <div>
          <a href="https://app.logrocket.com/syx3ge/httpslouiscklawgithubio" style="text-decoration: underline" target="_blank">
            <img width="100px" src="images/logrocket_logo.svg" />
          </a>
        </div>

        <div style="margin-left: 1rem; ">
          <a href="https://louiscklaw-github-io.sentry.io/projects/louiscklaw-github-io/?project=4504852838875136"
            style="text-decoration: underline; display: flex; flex-direction: row; justify-content: center; align-items: baseline;"
            target="_blank">
            <img width="20px" src="images/sentry_logo.svg" />
            <span>sentry</span>
          </a>
        </div>
      </div>

        <script>
          window.LogRocket && window.LogRocket.init("syx3ge/httpslouiscklawgithubio");
          LogRocket.identify("{{HOST}}_upload_id_{{_uploadid}}", {
            name: "{{HOST}}_{{_uploadid}}",
            email: "upload@{{HOST}}",

            // Add your own custom user variables here, ie:
            subscriptionType: "pro",
          });
          console.log('init done');
        </script>

  </body>
</html>
